.body-container {
    width: 100%;
    height: 500px;
    background-color: red;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.body-boxes {
    width: 70%;
    /* background-color: yellow; */
    display: flex;
}

.b-box1 {
    width: 50%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 100px;
}

.text-box-1-text {
    font-size: 60px;
    font-weight: 800;
    line-height: .95;
    color: #000000
}

.text-box-1 {
    width: 70%;
    /* background-color: blue; */
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box-2 {
    height: 80px;
    /* background-color: yellow; */
    width: 70%;
}

.text-box-2-div {
    height: 70%;
    width: 70%;
    /* background-color: red; */
}

.text-box-2-text {
    font-size: 11px;
    font-weight: 700;
    color: #000000;
}

.b-box2 {
    width: 50%;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.b-box2-image-css {
    height: 60%;
    width: 80%;
    object-fit: contain;
}

.b-box3-buttons {
    height: 40px;
    width: 70%;
    /* background-color: pink;   */
    display: flex;
}

.b-box3-button-1 {
    height: 28px;
    width: 80px;
    background-color:#D01C28;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.b-box3-button-2 {
    height: 25px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    background-color: white;
    border-radius: 5px;
}

.text-box3-buttons-text-1 {
    font-weight: 600;
    font-size: 12.5px;
}

.text-box3-buttons-text-2 {
    color: #5A5959;
    font-weight: 700;
    font-size: 12.5px;
}

.text-box-4 {
    height: 70px;
    width: 70%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    line-height: .5;
}

.text-box-4-text {
    color: white;
    font-size: 10px;
}

.text-box-4-img {
    display: flex;
    width: 50px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.amazonlogo-css {
    height: 20px;
    width: 20px;
}

.flipkart-css {
    height: 20px;
    width: 20px;
}